@inherits LayoutComponentBase

<div class="page flex-column"> 
    <div>
        <NavMenu />
    </div>
        
    <main>

        <article >
            @Body
        </article>
    </main>
</div>

