@inject NavigationManager Navigation

<div class="d-flex justify-content-center mt-4">
    <div class="col-lg-10 align-items-center text-center ">
        <div class="form-custom-border p-3 ">
            <div class="row text-center">

                <h3 class="col-8 offset-2"><b>My services</b></h3>
                <button class="btn col-2 btn-func btn-func-primary" @onclick="GoToServiceCreation"><i class="bi bi-plus-circle"></i>     Add</button>
            </div>
            <hr />


           
                @if (services != null && services.Any())
                {
                    var maxItems = Math.Min(services.Count, 3);
                    <div class="d-flex flex-row text-center">
                        @for (int i = 0; i < maxItems; i++)
                        {
                            var service = services[i];
                            <div class="card m-3 p-3">
                                <div class="primary-text">
                                    <h4 class=""><b>@services[i].Name</b></h4>
                                </div>
                                <hr class="mt-0 pt-0 text-center" />
                                <div class="row text-start green-blue-text justify-content-center align-items-center">
                                    <div class="col-8 m-0">
                                        <h6>Price: <br />@services[i].MinimumPrice - @services[i].MaximumPrice</h6>
                                        <h6>Reviews: @services[i].Reviews.Count</h6>
                                    </div>
                                    <div class="col-4 m-0 align-items-center" style="line-height: 50%">
                                        <button class="btn rounded-circle btn-secondary p-0 ps-1 pe-1 me-2" 
                                                @onclick="() => GoToServiceDetails(service.Id)">
                                            <i class="bi bi-arrow-up-right"></i>
                                        </button>
                                    </div>
                                </div>
                            
                            </div>

                        }
                </div>
                }
                else
                {
                    <div class="text-center">
                        <h4>No services available.</h4>
                    </div>
                }
            </div>

       
    </div>
</div>

@code {
    [Parameter]
    public List<GetServiceDto> services { get; set; } = new List<GetServiceDto>();

    private void GoToServiceDetails(int serviceId)
    {
        Navigation.NavigateTo($"/service-id={serviceId}");
    }

    private void GoToServiceCreation()
    {
        Navigation.NavigateTo($"/create-service");
    }
    private void GoToAllServices(MouseEventArgs e)
    {
        Navigation.NavigateTo($"/services-all");
    }
}
