@page "/account"
@using WebPetCare.IServices
@inject IUserService userService

<PageTitle>Account</PageTitle>

<div class="container align-items-center">
    <div class="col-1"></div>
    <div class="row col-10 offset-2 mb-3">
        <button class="btn col-lg-2 me-3  btn-nav-active">General</button>
        <button class="btn col-lg-2 me-3 btn-nav">Calendar</button>
        <button class="btn col-lg-2 me-3 btn-nav">My services</button>
        <button class="btn col-lg-2 me-3 btn-nav">Reviews</button>
    </div>

   
        <_GeneralAccount masterData="masterData"></_GeneralAccount>
    
    <_MyServicesGeneral services="@masterData.Services"></_MyServicesGeneral>

</div>


@code {
    public GetGeneralMasterDto masterData { get; set; } = new GetGeneralMasterDto();

    public string Error { get; set; } = "";


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            var res = await userService.getGeneralMasterData();
            if (res.IsSuccess)
            {
                masterData = res.Data;
            }
            else
            {
                Error = res.ErrorMessage;
            }
            StateHasChanged();
        }
    }

}
