@page "/account"
<PageTitle>Account</PageTitle>

<div class="container align-items-center">
    <div class="col-1"></div>
    <div class="row col-10 offset-2 mb-3">
        <button class="btn col-lg-2 me-3  btn-nav-active">General</button>
        <button class="btn col-lg-2 me-3 btn-nav">Calendar</button>
        <button class="btn col-lg-2 me-3 btn-nav">My services</button>
        <button class="btn col-lg-2 me-3 btn-nav">Reviews</button>
    </div>

    <_GeneralAccount></_GeneralAccount>

</div>


@code {

}
